.table {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 0;
    color: $text-primary;

    a {
        color: $primary-color;
        text-decoration: underline;
    }

    p{
        line-height: 1.5;
    }

    .thead {
        background-color: #f9f9f9;
    }

    .tbody_item {
        border: 1px solid #dde1e3;
        border-radius: 4px;
        display: grid;
        align-items: center;
        margin-bottom: 15px;
        padding: 15px;
    }
}

.table-bordered thead th {
    border-bottom: 0;
    background-color: #F0F0F0;
    text-align: center;
}