// ***variable.scss
// 字體
$font-family: -apple-system,
BlinkMacSystemFont,
"Microsoft JhengHei UI",
"Segoe UI",
"Roboto",
"Helvetica Neue",
Charcoal,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

$primary-color:#795A83;

$secondary-color:#EBEBFB;

$text-primary:#1E3543;

$gray:#F5F5F5;

$gray_hover:#F9F9F9;

$danger:#E86C6C;

$font-size:14px;

$transition: all .3s;

$box-shadow:0px 8px 12px #E1E1E1;